__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv
pip-log.txt
pip-delete-this-directory.txt
.git
.gitignore
README.md
.env
.venv
data/
saved/
assets/
uploads/
*.pth
*.pdf
*.bat
*.sh
__pycache__/
*.log
.DS_Store
.vscode/
.idea/

